{% extends 'app/base.html' %}

<!-- load image/css/js file load -->
{% load static %}

<!-- block title -->
{% block title %} mbr sagor | My tech book {% endblock %}
<!-- end block title -->

{% block sidebar %}
{% include 'blogapp/widget.html' %}
{% endblock %}

<!-- block main content -->

{% block content %}
<div class="mainContentArea">
    
    {% for post in posts %}
    <div class="single_post">
        <h2>
            <a href="{% url 'single_page' post.id %}">{{post.title}}</a>
        </h2>
        <div class="post_info">
            <i class="fa fa-calendar"></i> <span>{{post.posted_on}}</span> <i class="fa fa-user"></i>
            <span><a href="{% url 'author' post.author.id %}">{{post.author.name}}</a></span> <i class="fa fa-link"></i><a href="{% url 'category' post.category.name %}">{{post.category.name}}</a>
        </div>
        <div class="post_content">
            {{post.body |safe|truncatewords:74}}
            <br /> <a class="readmore_btn" href="{% url 'single_page' post.id %}">read more...</a>
        </div>
    </div>
    {% endfor %}

    <!-- pagination start -->
    <div class="page-navigation">
        <div class="row">
            <div class="col-lg-12 text-center">
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            </div>
        </div>
    </div>
    <!-- pagination End -->
</div>
{% endblock %}

<!-- end block main content -->